.prompt-textarea {
  height: 150px;
  width: 100%;
  resize: none;
  /* border-color: var(--input-box-default-bordercolor); */
  border-color: rgb(230 230 230);
  border-radius: 0px;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  font: var(--high-medium-medium);
}
